*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
} 

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row; /**?? figma styles**/
  justify-content: center;
  align-items: flex-end;
  padding: 0px 30px 0px 30px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  min-width: 225px;
  min-height: 27px;
  border-left: none;
  border-right: none;
  background-color: initial;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: 0;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 5px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background: white;
  outline: 1px solid white;
  border: 1px solid #1b1919;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline;  
}

.button {
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;  
  color: #FFFFFF;  
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.button:active {
  background: #545050;
  border: 1px solid #FFFFFF;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  min-width: 194px;
  height: 34px;
}

.content__details {
  height: inherit;
  width: inherit;
  background: #1B1919;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
}

.content__accent {
  font-family: Oswald, sans-serif;
  color: #545050;
}

.content__list {
  position: relative; /*выставили прелоадеры*/
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  height: 298px;
  max-width: 399px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  list-style: none;
}

.cards-list-item-template {

}

.content__list-item {

}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button-template {

}

.more-button {
  min-width: 399px;
  height: 34px;
}












